@font-face {
    font-family: bna-web;
    src: url('../fonts/bna-web-regular.woff') format('woff');
}

@font-face {
    font-family: bna-bold;
    src: url('../fonts/bna-web-bold.woff') format('woff');
}

@font-face {
    font-family: bna-icon;
    src: url('../fonts/bna-icon-font.woff') format('woff');
}

@font-face {
    font-family: bna-simpson;
    src: url('../fonts/bna-simpson-font.ttf') format('truetype');
}

html {
    -webkit-transition: background-color 1s;
    transition: background-color 1s;
}

html, body {
    height: 100%;
}

body {
    -webkit-transition: opacity 0.5s ease-in;
    transition: opacity 0.5s ease-in;
    font-family: bna-web, sans-serif !important;
    color: #444;
    line-height: 1.5;
    font-size: 13px;
}

.upper {
  text-transform: uppercase;
}

.info-highlights {
  padding: 0.5% 0%;
}

.top-header {
  background: #FAFAFA; 
  border-bottom: solid 1px #d3d3d3;
  padding: 2%;
}

.header-icon {
    font-size: 2em;
}

.login-info {
    cursor: pointer; 
    color: white; 
}

.details-wrapper {
  border-radius: 3px;
    /*border: solid 1px #D3D3D3;*/
    box-shadow: 0px 1px 1px #888888;
}

/* Rate and Bite modal CSS STARTS */
#s1 {
  width: 10%;
}

#s2 {
  width: 13%;
}

#s3 {
  width: 16%;
}

#s4 {
  width: 19%;
}

#s5 {
  width: 22%;
}

.recommend-desc-area {
    height: 116px;
}

.error-review {
  background-color: #f9e3e3; 
  color: #9F3A38; 
  border-radius: 3px;
}

.success-rating {
  background-color: #d4f3d7; 
  color: #0d500d; 
  border-radius: 3px;
}

.rcmd-width {
  width: 350px;
}
/* Rate and Bite modal CSS ENDS */

.user-icon {
  width: 100%;
  border-radius: 50%;
  text-align: center;
  background-position: center;
  background-repeat: no-repeat;
  object-fit: cover;
}

.item-desc-wrapper {
  margin-left: 3%;
  width: 70%;
  padding-top: 2%;
}

.primary-rating {
  padding: 0% 3.5%;
}

@media (max-width: 480px) {
    .loader {
        margin-left: 40%;
        margin-top: 15%;
        margin-bottom: 20%;
    }
    body {
        -webkit-user-select: none;
        -moz-user-select: -moz-none;
        -ms-user-select: none;
        user-select: none;
    }
    input, textarea {
        -moz-user-select: text;
    }

    html.loading {
    /* Replace #333 with the background-color of your choice */
    /* Replace loading.gif with the loading image of your choice */
    background: #FFF url('  https://s3.ap-south-1.amazonaws.com/bna-s3/commons/bna-text.jpg') no-repeat 50% 45%;
    background-size: 40%;
    /* Ensures that the transition only runs in one direction */
    -webkit-transition: background-color 0;
    transition: background-color 0;
    }

    html.loading body {
        /* Make the contents of the body opaque during loading */
        opacity: 0;

        /* Ensures that the transition only runs in one direction */
        -webkit-transition: opacity 0;
        transition: opacity 0;
    }

    body {
        -webkit-transition: opacity 0.5s ease-in;
        transition: opacity 0.5s ease-in;
        font-size: 12px;
    }

    .top-header {
      background: #FAFAFA; 
      border-bottom: solid 1px #d3d3d3;
      padding: 3%;
    }

    .header-icon {
      font-size: 1.5em;
    }

    .login-info {
        cursor: pointer; 
        color: white; 
        padding-right: 5%; 
        padding-top: 5%;    
    }

    .login-info>.btn {
        font-size: 10px;
    }

    .dropdown-menu {
        font-size: 10px;
    }
    .details-wrapper {
      border-radius: 3px;
    }

    .fullscreen-modal-dialog {
      width: 100%; 
      height: 100%; 
      margin: 0; 
      padding: 0;
    }

    .fullscreen-modal-content {
      height: auto; 
      min-height: 100%; 
      border-radius: 0;
    }

    .rcmd-width {
      width: 300px;
    }

    .item-desc-wrapper {
      margin-left: 4%;
        width: 70%;
        padding-top: 1%;
    }
}

@media (min-width: 481px) {
    .loader {
        margin-left: 50%;
        margin-top: 10%;
        margin-bottom: 15%;
    }
}

/*Loader CSS starts*/
.loader {
    border: 5px solid #f3f3f3;
    border-top: 5px solid #9932CC;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite;
}
/*Loader CSS ends*/

.web {
	font-family: bna-web;
}

.bold {
    font-family: bna-bold;
}

.simpson {
    font-family: bna-simpson;   
}

.light {
    color: #939393;
}

.red {
    color: red;
}

.green {
    color: green;
}

.white {
    color: white;
}

a {
    color: inherit;
    text-decoration : none
}

a:hover {
    color: inherit;
    text-decoration : none
}

.full-width {
  width: 100%;
}

.bna-color {
  color: #9932CC;
}

.font-0-8 {
  font-size: 0.8em;
}

.font-1-3 {
	font-size: 1.3em;
}

.font-1-5 {
  font-size: 1.5em;
}

.font-1-8 {
  font-size: 1.8em;
}

.font-2 {
  font-size: 2em;
}

.cursor-pointer {
  cursor: pointer;
}

.padding {
  padding: 5%;
}

.padding-4 {
  padding: 4%;
}

.padding-3 {
  padding: 3%;
}

.padding-2 {
  padding: 2%;
}

.padding-1 {
  padding: 1%;
}

.padding-left {
  padding-left: 5%;
}

.padding-right {
  padding-right: 5%;
}

.padding-top {
  padding-top: 5%;
}

.padding-bottom {
  padding-bottom: 5%;
}

.margin-top {
  margin-top: 5%;
}

.margin-bottom {
  margin-bottom: 5%;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.white-background {
    background-color: #fff;
}

.grey-background {
    background-color: #f3f3f3;
}

.blue-white-background {
  background: #E6E9EE;
}

.inline-block {
  display: inline-block;
}

.inline {
  display: inline;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/*Top Header CSS STARTS*/
.header-search-input {
  border: solid 1px #D3D3D3;
  border-radius: 3px;
  width: 100%;
  padding-left: 10px;
}

.bna-bg {
  background: #EFEFEF;
}

.bna-bg-primary {
  background: #9932CC;
}

/*Top Header CSS ENDS*/

/*Slick Slider CSS starts*/
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

body .slick-next, body .slick-prev{
    top: 40%;
}

.slick-prev:before, .slick-next:before {
    color: black !important;
}
/*Slick Slider CSS ends*/

/* Modal CSS - START */

.align-center {
    text-align: center;
}

.align-left {
    text-align: left;
}

.align-right {
    text-align: right;
}

.modal-backdrop.in {
    opacity: .8;
}

/* Modal CSS - END */

/* Footer CSS - START */

.footer {
    background-color: #333333;
    color: #adb0b6;
    height: 20%;
    background-image: url("../img/footer-graphic.png");
    background-repeat: no-repeat;
    background-position: left bottom;
    padding: 0 0 5% 0;
}

.social-icon {
    height: 50px;
    padding-right: 10px;
    padding-left: 10px;
}

.footer-links {
    padding-top: 30px;
}

.footer-links-desc {
    padding-right: 5px;
    padding-left: 5px;
}

/* Footer CSS - END */


/* Material Design Input STARTS */
.group        { 
  position:relative; 
  margin-bottom: 5%; 
}
input, textarea {
  padding:10px 10px 10px 5px;
  display:block;
  width:90%;
  border:none;
  border-bottom:1px solid #f1f1f1;
  box-shadow: none;
}
input:focus, textarea:focus { 
  outline:none; 
}

/* LABEL */
label          {
  color:#999; 
  font-weight:normal;
  position:absolute;
  pointer-events:none;
  left:5px;
  top:10px;
  transition:0.2s ease all; 
}

/* active state */
input:focus ~ label, input:valid ~ label/*, textarea:focus ~ label */   {
  /* handling of label for textarea is done dynamically in the js itself - check rcmdn.js */
  top:-20px;
  font-size:10px;
  color:#9932CC;
}

/* BOTTOM BARS */
.bar { 
  position:relative; 
  display:block; 
}

.bar:before, .bar:after {
  content:'';
  height:2px; 
  width:0;
  bottom:1px; 
  position:absolute;
  background:#9932CC; 
  transition:0.2s ease all; 
}

.bar:before {
  left:50%;
}

.bar:after {
  right:50%; 
}

/* active state */
input:focus ~ .bar:before, input:focus ~ .bar:after, textarea:focus ~ .bar:before, textarea:focus ~ .bar:after {
  width:50%;
}

/* HIGHLIGHTER */
/*.highlight {
  position:absolute;
  height:60%; 
  width:100px; 
  top:25%; 
  left:0;
  pointer-events:none;
  opacity:0.5;
}*/

/* active state */
/*input:focus ~ .highlight, textarea:focus ~ .highlight {
  animation:inputHighlighter 0.3s ease;
}

 ANIMATIONS 
@keyframes inputHighlighter {
  from  { background:#9932CC; }
  to    { width:0; background:transparent; }
}*/
/* Material Design Input ENDS */


ul.typeahead.dropdown-menu {
  width: 90%;
}

.dropdown-menu>.active>a, .dropdown-menu>.active>a:focus, .dropdown-menu>.active>a:hover {
    color: #fff;
    background-color: #9932CC;
}

.bna-button {
    padding: 10px 16px;
    margin: 10px;
    line-height: 1.3333333;
    border-radius: 3px;
    -webkit-appearance: button;
    cursor: pointer;
    align-items: flex-start;
    text-align: center;
    background-color: #9932CC;
    color: #fff;
    border: none;
    outline: none;
}

.bna-button:hover, .bna-button:focus {
  background-color: #8b14c5;
}

.bna-button-light {
    padding: 10px 16px;
    margin: 10px;
    line-height: 1.3333333;
    border-radius: 3px;
    -webkit-appearance: button;
    cursor: pointer;
    align-items: flex-start;
    text-align: center;
    background-color: #E0E1E2;
    color: #000;
    border: none;
    outline: none;
}

.bna-button-light:hover, .bna-button-light:focus {
  background-color: #cdced0;
}

.bna-button-white {
    padding: 10px 16px;
    margin: 10px;
    line-height: 1.3333333;
    border-radius: 3px;
    -webkit-appearance: button;
    cursor: pointer;
    align-items: flex-start;
    text-align: center;
    background-color: #fff;
    color: #000;
    border: none;
    outline: none;
}

.bna-button-white:hover, .bna-button-white:focus {
  background-color: #E0E1E2;
}

.bna-button-border {
    padding: 10px 16px;
    margin: 10px;
    line-height: 1.3333333;
    border-radius: 3px;
    -webkit-appearance: button;
    cursor: pointer;
    align-items: flex-start;
    text-align: center;
    background-color: #fff;
    color: #9932CC;
    border: solid 1px;
    border-color: #9932CC;
    outline: none;
}

.bna-button-border:hover, .bna-button-border:focus {
  background-color: #f6f6f6;
}

.hr-sect {
  display: flex;
  flex-basis: 100%;
  align-items: center;
  color: rgba(0, 0, 0, 0.35);
  margin: 8px 0px;
}
.hr-sect::before,
.hr-sect::after {
  content: "";
  flex-grow: 1;
  background: rgba(0, 0, 0, 0.35);
  height: 1px;
  font-size: 0px;
  line-height: 0px;
  margin: 0px 8px;
}

/*Input placeholder css STARTS*/
::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    #939393;
    text-align: center;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    #939393;
   opacity:  1;
   text-align: center;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    #939393;
   opacity:  1;
   text-align: center;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color:    #939393;
   text-align: center;
}
/*Input placeholder css ENDS*/

.recommend-item-desc, #recommend-item-desc, .review-item-desc {
  white-space: pre-wrap;
}

.input-loader-animation-div {
    position: absolute; 
    margin-top: 1%;
    height: 200%;
    z-index: 1; 
    background: white; 
    color: black; 
    width: 100%; 
    border-radius: 3px;
    -webkit-box-shadow: 4px 7px 11px 1px grey;
    -moz-box-shadow: 4px 7px 11px 1px grey;
    box-shadow: 4px 7px 7px grey;
}

.input-loader-animation {
    position: absolute;
    height: 50%;
    left: 47%; 
    top: 25%;   
}
.form-input {
  border: none;
  border-radius: 3px !important;
}

.popover {
  color: #939393;
}

.rating-rcmd {
  color: white; 
  padding: 0.5% 1% 0% 1%;
  border-radius: 3px;
  font-size: 0.8em;
}

.r50 {
  background-color: #305D02;
}
.r45 {
  background-color: #3F7E00;
}
.r40 {
  background-color: #5BA829;
}
.r35 {
  background-color: #9ACD32;
}
.r30 {
  background-color: #CDD614;
}
.r25 {
  background-color: #FFBA00;
}
.r20 {
  background-color: #FF7800;
}
.r15 {
  background-color: #DE1D05;
}
.r10 {
  background-color: #CD1C26;
}

.cuisine-heading {
  padding-top: 15%;
  font-size: 0.5em;
  text-transform: uppercase;
}

.btn-appstore {
    width: 100%;
    font-size: 12px;
    font-weight: bold;
    color: #5a5a5a;
}

.btn-appstore img {
    width: 30px;
    float: left;
}