body {
    font-size: 12px;
}

/* Hero Banner CSS - START */

.downloadAppGrp {
    padding-top: 4%;
}

.downloadAppBtn {
    background-color: transparent;
    border-color: transparent;
}

.logo-round {
    object-fit: cover;
    height: 85px;
    width: 85px;
    border: 3px solid;
    border-radius: 100px;
    border-color: white;
}

.logo-wrapper {
    height: 80px;
}

.sub-banner-logo {
    margin: 10% 0%;
}

.sub-banner-wrapper {
    margin: 10% 0%;   
}

.logo {
    background-repeat: no-repeat;
    background-position: center;
}

.tagline {
    font-size: 2.5em;
    padding-top: 3%;
}

.vh-top {
    height: 60%;
}

.vh-bottom {
    height: 40%;
}

.home-banner {
    background: linear-gradient(
                     rgba(20,20,20, 0.0), 
                     rgba(20,20,20, 0.3)),
                     url("https://s3.ap-south-1.amazonaws.com/bna-s3/commons/bg/bg-cone.jpg");
    background-repeat: no-repeat;
    background-position: center left;
    background-size: cover;
}

.sec-banner {
    background: linear-gradient(
                     rgba(20,20,20, .5), 
                     rgba(20,20,20, .8)),
                     url("https://s3.ap-south-1.amazonaws.com/bna-s3/commons/home-bg-sec.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.purple-banner {
    font-size: 1.5em;
    padding: 15% 0%;
}

.bna-search-add {
    padding: 10% 0% 0% 0%;
}

.meme-wrapper {
    margin-bottom: 10%;
}

.icon-search {
    background-image: url("../img/ic_search_black.svg");
    background-repeat: no-repeat;
    background-position: center;
}

.icon-location {
    background-image: url("../img/ic_location_black.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 25px;
}

.location-wrapper {
    width: 100%;
    padding-top: 2%;
    padding-bottom: 2%;
}

.search-wrapper {
    width: 100%;
    margin-left: 0px;
}

/* Hero Banner CSS - END */

/* Trending CSS - START */

.trending-heading {
    padding: 5% 3% 1% 3%;
    text-transform: uppercase;  
}

.trending-wrapper, .diary-wrapper {
    padding-left: 3%;
    padding-right: 3%;
}
/* Trending CSS - END */

/* HEADER CSS - START */

.header {
    background-color: #9932CC; 
    background-image: url("../img/hero_banner_bg.png");
    background-repeat: no-repeat;
    background-position: bottom;
}

.logo-header {
    position: absolute;
    background-repeat: no-repeat;
    height: 15%;
    /* test */
    margin-left: 0%;
    cursor: pointer;
    display: block;
}

/* HEADER CSS - END */

/* Login Button CSS starts */
.login-info {
    cursor: pointer; 
    color: white; 
    padding-right: 5%; 
    padding-top: 5%;    
}

.login-info>.btn {
    font-size: 10px;
}

.dropdown-menu {
    font-size: 10px;
}
/* Login Button CSS ends */

/*Home Icon CSS Starts*/
.header-icon {
    color: #fff;
    font-size: 1.5em;
    padding-left: 7%; 
    padding-top: 7%; 
}
/*Home Icon CSS ends*/

/*Loader CSS starts*/
.loader {
    border: 5px solid #f3f3f3;
    border-top: 5px solid #9932CC;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite;
    margin-left: 40%;
    margin-top: 15%;
    margin-bottom: 25%;
}
/*Loader CSS ends*/

/*Our diary css STARTS*/

.diary-sec {
    position: relative; 
    border-radius: 6px; 
    background: linear-gradient(white, purple);
}

.diary-img {
    opacity: 0.8;
}

/*Our diary css ENDS*/

.input-loader-animation-div {
    position: absolute; 
    margin-top: 2%;
    height: 150%;
    z-index: 1; 
    background: white; 
    border-radius: 3px;
    -webkit-box-shadow: 4px 7px 11px 1px grey;
    -moz-box-shadow: 4px 7px 11px 1px grey;
    box-shadow: 4px 7px 7px grey;
}

.input-loader-animation {
    position: absolute; 
    height: 50%;
    left: 42%; 
    top: 25%;   
}

/* Meme css STARTS */

.meme-image-div {
    height: 60px;
}

.meme-text {
    font-size: 1em;
}

.meme-image {    
    object-fit: cover;
    pointer-events: none;
    height:100%;
}

/* Meme css ENDS */

.flick-div {
    border-radius: 4px; 
    /*background: linear-gradient(white, purple);*/
    /*background-color: #fff;*/
    width: 70%;
    height: 180px;
    margin-right: 10px;
}

.flick-image {
    /*opacity: 0.8;*/
    object-fit: cover;
    /*pointer-events: none;*/
    width:100%;
    height:100%;
    overflow:hidden;
    vertical-align:top;
    border-radius: 4px;
}

.flick-img-txt {
    height:64%;
}

.flick-txt {
    height:36%;
    padding-top: 1%;
}