/* Common CSS STARTS */
.login-info {
    cursor: pointer; 
    color: white; 
    padding-right: 3%; 
    padding-top: 2%;    
}
.header-icon {
    color: #fff;
    font-size: 2em;
    padding-top: 2%; 
}
/* Common CSS ENDS */

/* Media Queries CSS - STARTS */
@media (min-width: 768px) {
	.detail-about > .col-sm-8 {
	    width: 65.666667%;
	}
}
/* Media Queries CSS - ENDS */

.details-wrapper {
	border-radius: 6px;
}

.user-icon {
	width: 50px;
    height: 50px;
	border-radius: 50%;
	text-align: center;
	background-position: center;
	background-repeat: no-repeat;
	object-fit: cover;
}

.primary-image {
    width: 130px;
    height: 130px;
    border-radius: 50%;
    text-align: center;
    background-position: center;
    background-repeat: no-repeat;
    object-fit: cover;
}

hr {
    margin-top: 2px;
    margin-bottom: 2px; 
}

.my-recommendations {
    padding-bottom: 5%;
}

.recommended-item {
    padding: 3%;
}

.item-desc-wrapper {
    margin-left: 3%
}

.review-item-desc {
    padding: 3% 0%;
}

.margin-bottom-5 {
    margin-bottom: 5%;
}